.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
EXTRA/.DS_Store
EXTRA/Fungal_analysis.R
EXTRA/Raw_data/dnadata.R
EXTRA/Raw_data/import_data.R
EXTRA/Raw_data/protu2name.txt
EXTRA/Raw_data/samplenames.txt


additional_files/Raw_data/samplenames.txt
additional_files/.DS_Store
additional_files/Fungal_analysis.R
additional_files/Raw_data/dnadata.R
additional_files/Raw_data/import_data.R
additional_files/Raw_data/protu2name.txt
